<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Comments Index</title>
</head>
<body>
	<h1>Comments</h1>
	<ul>
		<%for(let c of comments){%>
		<li><%=c.comment%> - <b><%=c.username%></b> <a href="/comments/<%=c.id%>">Details</a>
		</li>
		<%}%>
	</ul>
	<a href="/comments/new">Add a New Comment</a>
</body>
</html>
