<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Show Comment</title>
</head>
<body>
	<h1>Comment of id:<%=foundComment.id%></h1>
	<h2><%=foundComment.comment%> - <%=foundComment.username%></h2>
	<a href="/comments">Back to Comments</a>
</body>
</html>
